# [570. Managers with at Least 5 Direct Reports](https://leetcode.com/problems/managers-with-at-least-5-direct-reports/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Employee

<pre>+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+</pre>
id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.
 

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
<pre>+-----+-------+------------+-----------+
| id  | name  | department | managerId |
+-----+-------+------------+-----------+
| 101 | John  | A          | None      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |
+-----+-------+------------+-----------+</pre>
Output: 
<pre>+------+
| name |
+------+
| John |
+------+</pre>

In [1]:
# Pandas schema

import pandas as pd

data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [2]:
# to pyspark schema

import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import *


schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("managerId", IntegerType(), True)
])

In [3]:
spark = SparkSession.builder.getOrCreate()

employee_df = spark.createDataFrame(data,schema=schema)
employee_df.show(truncate=False)

+---+-----+----------+---------+
|id |name |department|managerId|
+---+-----+----------+---------+
|101|John |A         |NULL     |
|102|Dan  |A         |101      |
|103|James|A         |101      |
|104|Amy  |A         |101      |
|105|Anne |A         |101      |
|106|Ron  |B         |101      |
+---+-----+----------+---------+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 63466)
Traceback (most recent call last):
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\socketserver.py", line 747, in __init__
    self.handle()
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\site-packages\pyspark\accumulators.py", line 299, in handle
    poll(accum_updates)
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\site-packages\pyspark\accumulators.py", line 271, in poll
    if self.rfile in r and func():
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\site-packages\pyspark\accumulators.py", line 275, in accum_updates
    num_updates = read_int(self.rfile)
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\site-packages\pyspark\serializers.py", line 595, in read_int
    length = stream.read(4)
  File "c:\Users\lpaschoal\miniconda3\envs\data-ai\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [ ]:
# in Spark Dataframe

+----+
|name|
+----+
|John|
+----+

:

In [ ]:
# in Spark SQL
employee_df.createOrReplaceTempView('employee')
spark.sql('''
select name
from employee
where id in (select managerId from employee group by managerId having count(managerId)>=5)
''').show()

+----+
|name|
+----+
|John|
+----+

In [ ]:
spark.stop()